<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MYSuite1">
  <test thread-count="5" name="MyTestResults1">
    <classes>
     <!--  <class name="testng.DataProviderSample"/>
      <class name="testng.Fb_login2_validation"/>
      <class name="testng.PrioritySample"/>
      <class name="testng.FB_Login"/>
      <class name="testng.AnnotationSampleTwo"/>
      <class name="testng.AnnotationsOne"/>
      <class name="testng.NewTest"/>  --> 
     <class name="webdriver.ValidationCommands"/>
   
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
